<?php
/**
 * @author Igor Vorobiov<igor.vorobioff@gmail.com>
 */
return [
    'base_url' => '',
    'database' => [
        'name' => '',
        'host' => '',
        'username' => '',
        'password' => ''
    ]
];